{{page-title "Edit Customer"}}
<div class="customer-page-wrapper">
<h1>{{this.model.attributes.email}}</h1>
Last Updated: {{this.model.last_updated}}
<h2>Attributes</h2>
    <form>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>id</td>
                    <td>{{this.model.id}}</td>
                </tr>
            {{#each-in this.model.attributes as |attribute value|}}
                <tr class="form-group">
                    <td>
                        <label for={{attribute}}>{{attribute}}</label>
                    </td>
                    <td>
                        <input value={{value}} id={{attribute}} class="form-control" onblur={{action 'attributeChanged' attribute}}>
                    </td>
                    <td>
                        <button {{action 'deleteAttribute' attribute}} type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </td>
                    </tr>
            {{/each-in}}
                 <tr class="form-group">
                     <td>
                        {{input value=attributeName class="form-control" placeholder="name"}}
                    </td>
                    <td>
                        {{input value=attributeValue class="form-control" placeholder="value"}}
                    </td>
                    <td>
                        <button {{action 'addAttribute'}} type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                    </td>
                </tr>
    <button type="submit" class="btn btn-primary" {{action 'updateCustomer'}}>Save Changes</button>
    </tbody>
    </table>
    </form>
</div>
{{outlet}}